<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css}" rel="stylesheet" 
              integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <title>Club Leones</title>
    </head>
    <body class="body">
        <!-- html de la navbar -->       
        <div th:replace="~{plantillas/plantillas :: header-dashboard}"></div>

        <!-- Html de la side bar -->
        <div th:replace="~{plantillas/plantillas :: sidebar}"></div>

        <!-- html del contenido de la página -->

        <div class="container">
            <h1 class="text-center">Crear Ejercicio</h1>
            <form th:action="@{/ejercicios}" th:object="${ejercicio}" method="post">
                <div class="row">
                    <div class="col-md-12 fondo2">
                        <div class="mb-3 fondo2">
                            <label for="nombre" class="form-label fondo2">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" placeholder="escriba el nombre del ejercicio" required="required" />
                        </div>
                        <!-- <div class="mb-3 fondo2">
                            <label for="imagen" class="form-label fondo2">Imagen</label>
                            <input type="file" class="form-control" id="imagen" name="imagen" required="required" />
                        </div> -->
                        <div class="mb-3 fondo2">
                            <label for="descripcion" class="form-label fondo2">Descripción</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}" placeholder="escriba la descripción del ejercicio" required="required" />
                        </div>
                        <div class="mb-3 fondo2">
                            <label for="cantidad" class="form-label fondo2">Cantidad</label>
                            <input type="number" class="form-control" id="cantidad" name="cantidad" th:field="*{cantidad}" placeholder="escriba la cantidad del ejercicio" required="required" />
                        </div>
                        <div class="mb-3 fondo2">
                            <label for="segundos" class="form-label fondo2">Segundos</label>
                            <input type="number" class="form-control" id="segundos" name="segundos" th:field="*{segundos}" placeholder="escriba el tiempo en segundos del ejercicio" required="required" />
                        </div>
                        <input type="hidden" name="planacondicionamientoid" th:value="${planacondicionamiento.id}" />
                        <div class="text-center fondo2">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>





        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js}" 
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" 
        crossorigin="anonymous"></script>
    </body>
</html>
