@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container_all{
    position: relative;
    right: 0;
    top: 200%;
    transition: all 300ms;
    background-color: #fff;
}


header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;
}

.move_content{
    right: 180px;
}


.container__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header .logo2{
    position: absolute;
    bottom: 10px;
    right: 25%;
    width: 650px;
    top: 20px;
    
}


header .logo img{
    width: 200px;
    position: absolute;
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
}

nav ul li a{
    color: #fff;
    font-size: 14px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: #02225a;
}

.nav_mod a{
    color: #373737;
}

.nav_mod .select{
    color: #02225a;
}

.select{
    background: #359EF9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}



.cover{
    width: 100%;
    padding-bottom: 120px;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}



/*animacion de las waves*/

.bg_color{
    width: 100%;
    height: 70%;
    background: (#02225a, #2196f3);
    background: #2196f3;
    position: absolute;
    top: 0;
}

.wave{
    width: 6000px;
    height: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    background-image: url(../imagenes/wd1.svg);
    background-position: bottom;
}

.w1{
    animation: w1 7s linear infinite;
}

.w2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}

@keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }

    50%{
        transform: translateY(10px);
    }
}


.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;

}


.cover .container__info{
    max-width: 400px;
    margin-top: 40px;
    margin-left: -40px;
    z-index: 2;
}

.cover h1{
    max-width: 500px;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
}

.cover h2{
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    margin-top: -30px;
}

.cover p{
    margin-top: 30px;
    color: #fff;
    left: 10px;
    font-size: 50px;
}



.container__vector{
    position: relative;
    margin-right: -60px;
}

.container__vector img{
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 700px;
    top: -60px;
    transition: all 300ms;
    animation: move_vector 6s ease-in-out infinite;
}

@keyframes move_vector{
    0%{
        transform: translateY(60px);
    }
    25%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(60px);
    }
}

@media screen and (max-width: 920px){

    .container__vector img{
        width: 500px;
    }
}

@media screen and (max-width: 760px){

    .container__nav{
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .btn__menu{
        display: flex;
    }

    nav{
        height: 100%;
        background: #F1FAFF;
        position: fixed;
        top: 0;
        right: -180px;
        padding: 0px 40px;
        transition: all 300ms;
    }

    .move_nav{
        right: 0px;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        margin: 20px 0px;
    }

    .container__vector img{
        transform: scale(0);
        animation: none;
    }

}















.img{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 650px;
    top: 20px;
    transition: all 300ms;
    animation: move_vector 6s ease-in-out infinite;
    border: 3px solid;
    border-radius: 10px;
}

.links{
    color: #fff;
}

.texto{
    text-align: center;
    
}

.textoderecha{
    text-align: right;
}

/* css del login nada mas */

.caja-login{
    background-color: #02225a;
    justify-content: center;
    /* text-align: center; */
    height: 500px;
    color: #fff;
    border-radius: 15px;
    /*border: 3px solid #3bc6e9;*/
}  

.bi-people-fill {
    text-align: center;
    background-color: #02225a;
    color: #fff;
    font-size: 80px;
  } 
  
/* css de el registro */


.caja-register{
    background-color: #02225a;
    justify-content: center;
        /* text-align: center; */
    height: 550px;
    color: #fff;
    border-radius: 15px;
    /*border: 3px solid #3bc6e9;*/
}  


.carrusel{
    width: 600px; /* Cambia este valor al tamaño deseado */
    height: 480px; /* Cambia este valor al tamaño deseado */
    overflow: hidden;
    right: 50%;
    top: 10%;
}

.carrusel-imagen{
    width: 100%;
    height: auto;
}
