{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Club Leones</title>
</head>
<body class="body">
    <!-- html de la navbar -->       
    {% include "layout/navbar_dashboard.html" %}
    
    <!-- Html de la side bar -->
    {% include "layout/sidebar.html" %}
    
    <!-- html del contenido de la página -->

    <div class="container-fluid">
        <h1 class="text-center">Test</h1>
        <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')" href="{% url 'crear_tests' %}"><button type="button" class="opciones btn btn-logout btn-outline-primary">Crear test</button></a>
        <br>
        <div>
            <form class="form-inline" action="">
                <div class="form-group mb-2">
                    <label>Filtrar: </label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="palabraClave" class="form-control" id="palabraClave" value="{{ palabraClave }}" placeholder="Digite el valor a buscar">
                </div>
                <input type="submit" class="opciones btn btn-primary" value="Buscar">
                &nbsp;&nbsp;
                <input type="button" class="opciones btn btn-primary" onclick="limpiarCampos()" value="Limpiar">
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="fondo2">
                        <th scope="col">Id test</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Puntaje mínimo</th>
                        <th scope="col">Puntaje máximo</th>
                        <th scope="col">Puntaje mínimo bajo</th>
                        <th scope="col">Puntaje máximo bajo</th>
                        <th scope="col">Puntaje mínimo medio</th>
                        <th scope="col">Puntaje máximo medio</th>
                        <th scope="col">Puntaje mínimo alto</th>
                        <th scope="col">Puntaje máximo alto</th>
                        <th scope="col">Descripción</th>
                        <!--   <th scope="col">id_perfil</th> -->
                    </thead>
                    <tbody>
                            <tr>
                                <td>test.id</td>
                                <td>test.nombre</td>
                                <td>test.tipo</td>
                                <td>test.puntajeMinimo</td>
                                <td>test.puntajeMaximo</td>
                                <td>test.puntajeMinimoBajo</td>
                                <td>test.puntajeMaximoBajo</td>
                                <td>test.puntajeMinimoMedio</td>
                                <td>test.puntajeMaximoMedio</td>
                                <td>test.puntajeMinimoAlto</td>
                                <td>test.puntajeMaximoAlto</td>
                                <td>test.descripcion</td>
                                <td ><a href="{% url 'editar_tests' %}"><button type="button" class="opciones btn btn-logout btn-outline-primary">Editar</button></a></td>
                                <td><a href=""><button type="button" class="opciones btn btn-logout btn-outline-primary">Eliminar</button></a></td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" 
                crossorigin="anonymous"  type="text/javascript"></script>
        
        <!-- <script type="text/javascript">
            function limpiarCampos(){
                window.location='/tests';
            }
        </script> -->
    </body>
</html>
