
*{
    background-color: #e3f2f7;
}

/*Css de la navbar del landing page, login y register*/

.navbar{
    background-color: #02225a ;
}

.fondo{
    background-color: #02225a ;
}
/* .header{
    background-color: #02225a ;
} */



.navbar-brand{
    background-color: #02225a;
    color: #fff;
    justify-content: center;
}

.empresa{
    background-color: #02225a;
    color: #fff;
    /* justify-content: baseline;   */
}


.nav-link{
    color: #fff;
}

.navbar-collapse{
    justify-content:end;
}

.navbar-toggler{
    color: #fff;
}

.navbar-nav{
    justify-content: space-between;
}

.btn{
    background-color: #02225a;
    color: #fff;
    border-color: #fff;
}


.row{
    height: 200px;
}

.col{
    border: 3px solid #02225a;
}

/* Css del contenido que tendra la pagina, landing page, secciones de modulos */

.body{
    background-color: #e3f2f7;
}

.fondo-claro{
    background-color: #e3f2f7;
}
/* css de las imagenes que usare, solo llevaran un borde negro con esquinas curvas */

.img{
    border: 3px solid;
    border-radius: 10px;
}

/* css del login y register */

.caja-login{
    background-color: #02225a;
    justify-content: center;
    text-align: center;
    height: 400px;
    color: #fff;
    border-radius: 15px;
    border: 3px solid #3bc6e9;
}  

.caja-register{
    background-color: #02225a;
    justify-content: center;
    text-align: center;
    height: 550px;
    color: #fff;
    border-radius: 15px;
    border: 3px solid #3bc6e9;
}  

/* css de la barra lateral del dashboard y demás */

.btn-sidebar{
    width: 100%;
}

.dropdown-sidebar{
    width: 100%;
}

/* css de las tablas para mostrar la información */

/* .tabla-principal{
    border: 3px solid #02225a;
    color: #fff;
    background-color: #02225a;
}

.row-tabla{
    height: 100px;
}

.col-tabla{
    border: 3px solid #fff;
    background-color: #02225a;
} */

.row-tabla{
    height: 100px;
}