table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 20%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #003C5D;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .boton{
    margin-left: 20%;
  }

.title{
    text-align: left;
}

.btn{
    float: right;
    background-color: #003C5D;
}

.textobtn{
    color: #f2f2f2;
    text-decoration: none;
}

.botonedit{
    float: left;
    margin-left: 20%;

}