{% load static %}
<div class="header" >
    <nav class="navbar">
        <div class="fondo container-fluid justify-content-between">
            <div class="fondo d-flex align-items-center">
                <a class="navbar-brand" href="dashboard"><img class="" height="45px" src="{% static 'images/logoempresa.png' %}" alt=""></a>
            </div>
            <div class="fondo d-flex align-items-center">
                <a class="opciones btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Menú
                </a>
            </div>
        </div>
    </nav>
</div>