/* Css de la landing page y las vistas que se dan en cada opción sin iniciar sesion */

/*  Css del menu superior de navegación  */

.navbar {
    background-color: #02225a !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.nav-link{
    color: #ffffff !important;
}

/* Css de los botones de login  */

.btn {
    border-color: #ffffff !important;
    color: #ffffff !important;
}

/* Css de los textos e imágenes Landing page*/

.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-top: 10%;
}

.contenido .tituloBox{
    position: relative;
    max-width: 600px;
}

.contenido .tituloBox h2{
    font-size: 5em;
    text-transform: uppercase;
    color: white;
    line-height: 1.2;
    font-family: 'lora', serif;
}

.contenido .tituloBox p{
    font-size: 2em;
    line-height: 0.8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}


.contenido .imagen{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 30px;
}

.contenido .imagen img{
    width: 800px;
    border: 3px solid;
    border-radius: 10px;
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    background: #2e8ead;
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;
}

.circulo2{
    position: absolute;
    top: 0;
    left: 0;
    background: #2e8ead;
    clip-path: circle(670px at left 750px);
    width: 100%;
    height: 100%;
}
/*   ensayo de no sé qué
@media screen and (min-widht:800px){
    body{
        background-color: aqua;
    }
} */

/* Css de los textos e imágenes Landing page acondicionamiento fisico*/

.contenido1A{
    
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.tituloBox1A{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 60%;
}

.circulo1A{
    position: absolute;
    top: 0;
    left: 0;
    background: #2e8ead;
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;
}

/* Css de los textos e imágenes Landing page acondicionamiento fisico*/

.contenido1A{
    
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.tituloBox1A{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 60%;
}

.circulo1A{
    position: absolute;
    top: 0;
    left: 0;
    background: #2e8ead;
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;
}

.contenido1{
    position: center;
    
}

.contenido1 .title{
    margin-left: 117%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 80%;
    
  }
  th, td {
    text-align: left;
    padding: 50px;
  }
  th {
    background-color: #003C5D;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .boton{
    margin-left: 20%;
  }

.title{
    text-align: left;
}